### Backend ###
/Java/spaAuth/HELP.md
/Java/spaAuth/target/
/Java/spaAuth/!.mvn/wrapper/maven-wrapper.jar
/Java/spaAuth/!**/src/main/**/target/
/Java/spaAuth/!**/src/test/**/target/

### STS ###
/Java/spaAuth/.apt_generated
/Java/spaAuth/.classpath
/Java/spaAuth/.factorypath
/Java/spaAuth/.project
/Java/spaAuth/.settings
/Java/spaAuth/.springBeans
/Java/spaAuth/.sts4-cache

### IntelliJ IDEA ###
/Java/spaAuth/.idea
/Java/spaAuth/*.iws
/Java/spaAuth/*.iml
/Java/spaAuth/*.ipr

### NetBeans ###
/Java/spaAuth/nbproject/private/
/Java/spaAuth/nbbuild/
/Java/spaAuth/dist/
/Java/spaAuth/nbdist/
/Java/spaAuth/.nb-gradle/
/Java/spaAuth/build/
/Java/spaAuth/!**/src/main/**/build/
/Java/spaAuth/!**/src/test/**/build/

### VS Code ###
.vscode/

### Docker Volume ###
/mySQL/data/*

### Vite Modules ###
/ViteReact/ViteReact/.pnpm-store
/ViteReact/ViteReact/node_modules

# Logs
/ViteReact/ViteReact/logs
/ViteReact/ViteReact/*.log
/ViteReact/ViteReact/npm-debug.log*
/ViteReact/ViteReact/yarn-debug.log*
/ViteReact/ViteReact/yarn-error.log*
/ViteReact/ViteReact/pnpm-debug.log*
/ViteReact/ViteReact/lerna-debug.log*

/ViteReact/ViteReact/node_modules
/ViteReact/ViteReact/dist
/ViteReact/ViteReact/dist-ssr
/ViteReact/ViteReact/*.local

# Editor directories and files
/ViteReact/ViteReact/.vscode/*
/ViteReact/ViteReact/!.vscode/extensions.json
/ViteReact/ViteReact/.idea
/ViteReact/ViteReact/.DS_Store
/ViteReact/ViteReact/*.suo
/ViteReact/ViteReact/*.ntvs*
/ViteReact/ViteReact/*.njsproj
/ViteReact/ViteReact/*.sln
/ViteReact/ViteReact/*.sw?

# nginx logs
/webServer/nginx/logs/*